Flask
Flask-SQLAlchemy
SQLAlchemy
Jinja2
Werkzeug
face-recognition
dlib
numpy
pillow
reportlab
click
itsdangerous
MarkupSafe
blinker
charset-normalizer
colorama
greenlet
face_recognition_models
gunicorn
packaging
